<!DOCTYPE html>
<html>
    <head>
        <title>Django News blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django News Blog</a></h1>
        </header>

        {% for post in posts %}
            <article>
            <time>published: {{post.published_date}}</time>
            <h2><a href="">{{post.title}}</a></h2>
            <p>{{post.text|linebreaksbr}}</p>
            The Swiss HD model is a 4 km, high-res model focused on short-term forecasting. It is updated 4 times daily and is run for a period of 24 hours. It is exclusively ours – you won’t find it anywhere else!.</p>
            </article>
        {% endfor %}

        {% for post in posts %}
            <time>published: {{post.published_date}}</time>
            <h2><a href="">{{post.title}}</a></h2>
            <p>{{post.text|linebreaksbr}}</p>
        </article>
        {% endfor %}
    </body>
</html>