<!DOCTYPE html>
<html>
    <head>
        <title>Django News blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django News Blog</a></h1>
        </header>

        <article>
            <time>published: 26.05.2023, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>The team at weather.us along with our parent company, Kachelmannwetter, have released our brand new “in-house” model, The CONUS Swiss HD!
            The Swiss HD model is a 4 km, high-res model focused on short-term forecasting. It is updated 4 times daily and is run for a period of 24 hours. It is exclusively ours – you won’t find it anywhere else!.</p>
        </article>

        <article>
            <time>published: 26.05.2023, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>It blends the cloud cover forecast with the forecasted weather conditions to produce a comprehensive look at what weather might be occurring along with the amount/extent of cloud cover to go with it. No need to flip between parameters to see how far that cloud shield might extend beyond where ever the precip is actually falling..</p>
        </article>
    </body>
</html>